<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kelompok5.mysotd" >

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icons="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="my_sotd.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="kelompok5.mysotd.model" />

        <activity
            android:name=".Views.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".Views.MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="kelompok5.mysotd.MAINACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
            android:name=".Views.AddShavingItem"
            android:label="@string/title_activity_add_shaving_item" >
        </activity>
        <activity
            android:label="Add Category"
            android:name=".Views.AddCategory" >
        </activity>
    </application>

</manifest>
